#box1 {
    background: #fff;
    border-radius: 10px 10px 0px 0px;
}
#title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
}
.box-body{
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.dataTables_wrapper .dataTables_length {
    float: left;
    margin-right: 70%;
}
div.dataTables_wrapper div.dataTables_filter{
    float:left;
    left:0;
    margin-left:33%;
    margin-right:15%;
    margin-bottom: 2px;
}
div.dataTables_wrapper div.dataTables_buttons{
    float:right;

}
table.dataTable thead tr {
    background-color: #F79868;
}

.selectpicker{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;

    color: #4F4F4F;
}

.btn-default{
    background: #FFFFFF;
    border: 1px solid #08388F;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #4F4F4F;
}

.calendar-table thead,
.calendar-table th,
.calendar-table td {
        color: black !important;
}