* {
    box-sizing: border-box;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}


div.dataTables_wrapper div.dataTables_filter {
    float: left;
    left: 0;
    margin-left: 33%;
    margin-right: 10%;
    margin-bottom: 2px;
}

div.dataTables_wrapper div.dataTables_buttons {
    float: left;
}

table.dataTable thead tr {
    background-color: #F79868;
}

#box1 {

    background: #F79868;
    border-radius: 10px 10px 0px 0px;
}

#map-title {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#flex {
    display: flex;
    margin-top: -5px;
    margin-left: 5px;
}

#selection {
    display: flex;
    padding-left: 0px;
    justify-content: center;
}

.selectpicker {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 300px;
    color: #4F4F4F;
}

.btn-default {
    background: #FFFFFF;
    border: 1px solid #08388F;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */



    color: #4F4F4F;
}

.calendar-table thead,
.calendar-table th,
.calendar-table td {
    color: black !important;
}
.symbol {
width:10px;
height:10px;
margin-right:20px;
float:left;
-webkit-border-radius: 20px;
border-radius: 20px;
}
.symbol1 {
height: 20px;
width: 30px;
background-color: #f80d41;
border-style: solid;
border-width: 2px;
float:left;
margin-right:20px;



}
.symbol2 {
height: 20px;
width: 30px;
background-color: #ffff;
border-style: solid;
border-width: 2px;
float:left;
margin-right:20px;

}
.symbol3 {
height: 20px;
width: 30px;
background-color: #F0E68C;
border-style: solid;
border-width: 2px;
float:left;
margin-right:20px;

}
.symbol4 {
height: 20px;
width: 30px;
background-color: #55efc4;
border-style: solid;
border-width: 2px;
float:left;
margin-right:20px;

}