

/* Typography */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

p {
  font-size: 13px; }

.h1,
h1 {
  font-size: 2.19rem; }

.h2,
h2 {
  font-size: 1.88rem; }

.h3,
h3 {
  font-size: 1.56rem; }

.h4,
h4 {
  font-size: 1.13rem; }

.h5,
h5 {
  font-size: 1rem; }

.h6,
h6 {
  font-size: 0.9375rem; }

p {
  font-size: 13px; }

.display-1 {
  font-size: 3.75rem; }
  @media (max-width: 991px) {
    .display-1 {
      font-size: 3rem; } }

.display-2 {
  font-size: 3.125rem; }
  @media (max-width: 991px) {
    .display-2 {
      font-size: 2.5rem; } }

.display-3 {
  font-size: 2.5rem; }
  @media (max-width: 991px) {
    .display-3 {
      font-size: 2rem; } }

.display-4 {
  font-size: 1.875rem; }
  @media (max-width: 991px) {
    .display-4 {
      font-size: 1.5rem; } }

.display-5 {
  font-size: 1.25rem; }
  @media (max-width: 991px) {
    .display-5 {
      font-size: 1rem; } }

.blockquote {
  padding: 1.25rem;
  border: 1px solid #f2f2f2; }

address p {
  margin-bottom: 0; }

.blockquote-primary {
  border-color: #308ee0; }
  .blockquote-primary .blockquote-footer {
    color: #308ee0; }

.blockquote-secondary {
  border-color: #e5e5e5; }
  .blockquote-secondary .blockquote-footer {
    color: #e5e5e5; }

.blockquote-success {
  border-color: #00ce68; }
  .blockquote-success .blockquote-footer {
    color: #00ce68; }

.blockquote-info {
  border-color: #8862e0; }
  .blockquote-info .blockquote-footer {
    color: #8862e0; }

.blockquote-warning {
  border-color: #ffaf00; }
  .blockquote-warning .blockquote-footer {
    color: #ffaf00; }

.blockquote-danger {
  border-color: #e65251; }
  .blockquote-danger .blockquote-footer {
    color: #e65251; }

.blockquote-light {
  border-color: #f3f5f6; }
  .blockquote-light .blockquote-footer {
    color: #f3f5f6; }

.blockquote-dark {
  border-color: #424964; }
  .blockquote-dark .blockquote-footer {
    color: #424964; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }



.page-title {
  color: #000;
  margin: 0.38rem 0 0.75rem; }

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #404852;
  margin-bottom: 22px;
  font-size: 14px;
  text-transform: capitalize; }
  .rtl .card-title {
    text-align: right; }

.card-subtitle {
  font-family: "Poppins", sans-serif;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem; }

.card-description {
  margin-bottom: 0.9375rem;
  font-family: "Poppins", sans-serif; }
  .rtl .card-description {
    text-align: right; }


.icon-lg {
  font-size: 3.5rem; }



.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-light {
  font-weight: 300 !important; }

.font-weight-normal {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.font-italic {
  font-style: italic !important; }

.text-white {
  color: #fff !important; }

.text-primary {
  color: #308ee0 !important; }

a.text-primary:hover, a.text-primary:focus {
  color: #1d74c0 !important; }

.text-secondary {
  color: #e5e5e5 !important; }

a.text-secondary:hover, a.text-secondary:focus {
  color: #cccccc !important; }

.text-success {
  color: #00ce68 !important; }

a.text-success:hover, a.text-success:focus {
  color: #009b4e !important; }

.text-info {
  color: #8862e0 !important; }

a.text-info:hover, a.text-info:focus {
  color: #6837d8 !important; }

.text-warning {
  color: #ffaf00 !important; }

a.text-warning:hover, a.text-warning:focus {
  color: #cc8c00 !important; }

.text-danger {
  color: #e65251 !important; }

a.text-danger:hover, a.text-danger:focus {
  color: #e02624 !important; }

.text-light {
  color: #f3f5f6 !important; }

a.text-light:hover, a.text-light:focus {
  color: #d6dde0 !important; }

.text-dark {
  color: #424964 !important; }

a.text-dark:hover, a.text-dark:focus {
  color: #2e3345 !important; }

.text-muted, .preview-list .preview-item .preview-item-content p .content-category {
  color: #c2c2c2 !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important; }
  a:not(.btn) {
    text-decoration: underline; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  @page {
    size: a3; }
  body {
    min-width: 992px !important; }
  .container {
    min-width: 992px !important; }
  .navbar {
    display: none; }
  .badge {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }



/* Utilities */
.grid-margin, .purchace-popup > div {
  margin-bottom: 25px; }

@media (min-width: 576px) {
  .grid-margin-sm-0 {
    margin-bottom: 0; } }

@media (min-width: 768px) {
  .grid-margin-md-0 {
    margin-bottom: 0; } }

@media (min-width: 992px) {
  .grid-margin-lg-0 {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .grid-margin-xl-0 {
    margin-bottom: 0; } }

.img-lg {
  width: 92px;
  height: 92px; }

.img-md {
  width: 60px;
  height: 60px; }

.img-sm {
  width: 43px;
  height: 43px; }

.img-xs, .table td img,
.table th img {
  width: 37px;
  height: 37px; }

.img-ss {
  width: 26px;
  height: 26px; }

.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch; }
  .stretch-card > .card {
    width: 100%;
    min-width: 100%; }

@media (min-width: 576px) {
  .border-right-sm {
    border-right: 1px solid #f2f2f2; } }

@media (min-width: 768px) {
  .border-right-md {
    border-right: 1px solid #f2f2f2; } }

@media (min-width: 992px) {
  .border-right-lg {
    border-right: 1px solid #f2f2f2; } }

@media (min-width: 576px) {
  .border-left-sm {
    border-left: 1px solid #f2f2f2; } }

.border-strong {
  border-color: #262626; }

.count-wrapper {
  position: relative; }
  .count-wrapper .count {
    position: absolute;
    width: auto;
    min-width: 8px;
    min-height: 8px;
    padding: 2px 4px;
    font-size: 75%;
    line-height: 1;
    vertical-align: middle;
    border-radius: 100%;
    color: #ffffff;
    font-weight: 500; }
    .count-wrapper .count.top-right {
      top: -5px;
      right: 0; }
    .count-wrapper .count.bottom-right {
      bottom: -5px;
      right: 0; }
    .count-wrapper .count.bottom-left {
      bottom: -5px;
      left: 0; }
    .count-wrapper .count.top-left {
      top: -5px;
      left: 0; }

@media (min-width: 768px) {
  .border-left-md {
    border-left: 1px solid #f2f2f2; } }

@media (min-width: 992px) {
  .border-left-lg {
    border-left: 1px solid #f2f2f2; } }

.text-gray, .card-subtitle, .new-accounts ul.chats li.chat-persons a p.joined-date {
  color: #969696; }

.text-black {
  color: #000; }

.flex-grow {
  flex-grow: 1; }

.ellipsis {
  max-width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.no-wrap {
  white-space: nowrap; }

.status-indicator {
  border-width: 2px;
  border-style: solid;
  border-color: #ffaf00;
  border-radius: 100%;
  display: inline-block;
  height: 8px;
  width: 8px; }
  .status-indicator.online {
    border-color: #00ce68; }
  .status-indicator.offline {
    border-color: #308ee0; }
  .status-indicator.away {
    border-color: #ffaf00; }

.bg-transparent {
  background: transparent; }

.bg-inverse-primary {
  background: rgba(48, 142, 224, 0.2); }

.bg-inverse-secondary {
  background: rgba(229, 229, 229, 0.2); }

.bg-inverse-success {
  background: rgba(0, 206, 104, 0.2); }

.bg-inverse-info {
  background: rgba(136, 98, 224, 0.2); }

.bg-inverse-warning {
  background: rgba(255, 175, 0, 0.2); }

.bg-inverse-danger {
  background: rgba(230, 82, 81, 0.2); }

.bg-inverse-light {
  background: rgba(243, 245, 246, 0.2); }

.bg-inverse-dark {
  background: rgba(66, 73, 100, 0.2); }

/* Demo Styles */
.template-demo > .btn-group .btn {
  margin: 0 !important; }

.template-demo .progress {
  margin-top: 1.5rem; }

.template-demo > h2,
.template-demo > h3,
.template-demo > h4,
.template-demo > h5,
.template-demo > h6,
.template-demo > h1 {
  border-top: 1px solid #f2f2f2;
  padding: 0.5rem 0 0; }

.template-demo .ul-slider.noUi-horizontal {
  margin-top: 2rem; }

.template-demo .ul-slider.noUi-vertical {
  margin-right: 2rem; }

.template-demo .dropdown {
  display: inline-block;
  margin-bottom: 0.5rem; }

.template-demo nav .breadcrumb {
  margin-bottom: 1.375rem; }

.template-demo nav:last-child .breadcrumb {
  margin-bottom: 0; }

.template-demo .editable-form > .form-group {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem; }

.template-demo .circle-progress {
  padding: 15px; }

.demo-modal {
  position: static;
  display: block; }
  .demo-modal .modal-dialog {
    margin-top: 0 !important; }
    .demo-modal .modal-dialog.modal-lg {
      max-width: 100%; }

.loader-demo-box {
  width: 100%;
  height: 200px; }

.purchace-popup > div > span {
  background: rgba(228, 228, 228, 0.46);
  padding: 15px 20px;
  border-radius: 3px; }
  .purchace-popup > div > span .btn {
    margin-right: 20px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px; }
    .purchace-popup > div > span .btn.download-button {
      background: rgba(228, 228, 228, 0.2);
      color: #b1b1b1;
      border: 2px solid #cbcbcb; }
    .purchace-popup > div > span .btn.purchase-button {
      background-color: #d209fa;
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFD209FA', endColorstr='#FF4F81D4');
      background-image: -owg-linear-gradient(left, #d209fa 1%, #4f81d4 100%);
      background-image: -webkit-linear-gradient(left, #d209fa 1%, #4f81d4 100%);
      background-image: -moz-linear-gradient(left, #d209fa 1%, #4f81d4 100%);
      background-image: -o-linear-gradient(left, #d209fa 1%, #4f81d4 100%);
      background-image: linear-gradient(left, #d209fa 1%, #4f81d4 100%);
      color: #ffffff;
      border: none;
      line-height: 1;
      vertical-align: middle; }
  .purchace-popup > div > span p {
    margin-bottom: auto;
    margin-top: auto;
    color: #7e7e7e;
    font-weight: 400;
    vertical-align: middle;
    line-height: 1; }
  .purchace-popup > div > span i {
    vertical-align: middle;
    line-height: 1;
    margin: auto 0;
    color: #b1b1b1; }


/* Dashboard */
.card-statistics .highlight-icon {
  height: 53px;
  width: 53px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 50px; }
  .card-statistics .highlight-icon i {
    font-size: 27px; }

.card-revenue-table .revenue-item {
  border-bottom: 1px solid #f2f2f2; }
  .card-revenue-table .revenue-item:last-child {
    border-bottom: 0; }
  .card-revenue-table .revenue-item .revenue-desc {
    margin-right: auto;
    width: 80%; }
    .card-revenue-table .revenue-item .revenue-desc p {
      margin-bottom: 0; }
  .card-revenue-table .revenue-item .revenue-amount {
    margin-left: auto;
    width: 40%; }
    .card-revenue-table .revenue-item .revenue-amount p {
      font-size: 1.25rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      text-align: right; }
      .rtl .card-revenue-table .revenue-item .revenue-amount p {
        text-align: left; }

.card-revenue {
  background: linear-gradient(120deg, rgba(0, 228, 208, 0.7), rgba(89, 131, 232, 0.7));
  background-size: cover;
  color: #ffffff; }
  .card-revenue .highlight-text {
    font-size: 1.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500; }
  .card-revenue .badge {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.125rem;
    padding: 0.5rem 1.25rem; }

.card-weather {
  background: #e1ecff;
  background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff); }
  .card-weather .card-body {
    background: #ffffff; }
    .card-weather .card-body:first-child {
      background: url("../images/samples/weather.svg") no-repeat center;
      background-size: cover; }
  .card-weather .weather-date-location {
    padding: 0 0 38px; }
  .card-weather .weather-data {
    padding: 0 0 4.75rem; }
    .card-weather .weather-data i {
      font-size: 5.313rem;
      line-height: 1; }
  .card-weather .weakly-weather {
    background: #ffffff;
    overflow-x: auto; }
    .card-weather .weakly-weather .weakly-weather-item {
      flex: 0 0 14.28%;
      border-right: 1px solid #f2f2f2;
      padding: 1rem;
      text-align: center; }
      .card-weather .weakly-weather .weakly-weather-item i {
        font-size: 1.2rem; }
      .card-weather .weakly-weather .weakly-weather-item:last-child {
        border-right: 0; }
      .card-weather .weakly-weather .weakly-weather-item .symbol {
        color: #c2c2c2;
        font-size: 1.875rem;
        font-weight: 300; }

.product-chart-wrapper {
  height: 92%; }

#dashboardTrendingProgress {
  width: 60px; }

.dashboard-bar-chart-legend .col {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .dashboard-bar-chart-legend .col .bg {
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    width: 30px;
    display: block;
    margin-top: 5px; }
  .dashboard-bar-chart-legend .col:nth-child(1) .bg {
    background: #8862e0; }
  .dashboard-bar-chart-legend .col:nth-child(2) .bg {
    background: #308ee0; }
  .dashboard-bar-chart-legend .col:nth-child(3) .bg {
    background: #e65251; }


.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.25rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125); }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px); }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px); }

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px); }

.card-deck {
  display: flex;
  flex-direction: column; }
  .card-deck .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-deck {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; }
      .card-deck .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px; } }

.card-group {
  display: flex;
  flex-direction: column; }
  .card-group > .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-group {
      flex-flow: row wrap; }
      .card-group > .card {
        flex: 1 0 0%;
        margin-bottom: 0; }
        .card-group > .card + .card {
          margin-left: 0;
          border-left: 0; }
        .card-group > .card:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
          .card-group > .card:first-child .card-img-top,
          .card-group > .card:first-child .card-header {
            border-top-right-radius: 0; }
          .card-group > .card:first-child .card-img-bottom,
          .card-group > .card:first-child .card-footer {
            border-bottom-right-radius: 0; }
        .card-group > .card:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
          .card-group > .card:last-child .card-img-top,
          .card-group > .card:last-child .card-header {
            border-top-left-radius: 0; }
          .card-group > .card:last-child .card-img-bottom,
          .card-group > .card:last-child .card-footer {
            border-bottom-left-radius: 0; }
        .card-group > .card:only-child {
          border-radius: 0.25rem; }
          .card-group > .card:only-child .card-img-top,
          .card-group > .card:only-child .card-header {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem; }
          .card-group > .card:only-child .card-img-bottom,
          .card-group > .card:only-child .card-footer {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem; }
        .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
          border-radius: 0; }
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
            border-radius: 0; } }

.card-columns .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }
